.body{
	max-width: 1200px;
	margin: 0 auto;
}
.fixed {
  width: 1180px;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  background-color: white;
}
.fixed2{
  width: 220px;
  height: 70px;
	position: fixed;
   float: left;
   top: 0;
  right: 0;
  background-color: white;
}
ul li{
	list-style: none;
	display: inline-block;
}
ul li a{
	display: block;
	width: 80px;
	height: 20px;
	background: blue;
	color: yellow;
	text-align: center;
	text-decoration: none;
	border-radius: 35%;
	box-shadow: 4px 4px 5px black;
	transition: 0.5s;
}
ul li a:hover{
	background: yellow;
	color: black;
}
.section{
	margin-top: 70px;
}
.article{
	width: 600px;
	height: 280px;
	float: left;
}
h3 {
	color: blue;
}
article > p {
	font-family: 'Lora', serif;
	font-size: 15px;
	color: blue;
	text-shadow: 0px 0px 0px black;
}
label {
	color: blue;
}
button {
	color: blue;
}
.one {
	color: blue;
}
.red{
	color: red;
}

	
	