* {
    margin: 0;
}
body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Lora', serif;
	font-size: 15px;
}
header {
    background-image: url("../img/sweets.jpg");
    background-position: center center;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
}
header h2 {
    font-size: 10rem;
    color: white;
}
article {
    padding: 10px;
}
footer p {
    text-align: center;
}














.place{
	width: 650px;
	height: 500px;
	color: red;
	background: pink;
	clear: both
}