* {
    margin: 0;
}
body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Lora', serif;
	font-size: 15px;
}
ul li{
	list-style: none;
	display: inline-block;
}
ul li a{
	display: block;
	width: 80px;
	height: 20px;
	background: blue;
	color: yellow;
	text-align: center;
	text-decoration: none;
	border-radius: 35%;
	box-shadow: 4px 4px 5px black;
	transition: 0.5s;
}
ul li a:hover{
	background: yellow;
	color: black
}
header {
    background-image: url("../img/sweets.jpg");
    background-position: center center;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
}
article {
    padding: 10px;
}
footer p {
    text-align: center;
}














.place{
	width: 650px;
	height: 500px;
	color: red;
	background: pink;
	clear: both
}