main {
    display: flex;
}
@media screen and (max-width: 720px) {
    header {
        height: 150px;        
    }
    header h2 {
        font-size: 5rem;
    }
    main {
        flex-wrap: wrap;
    }
}