.menu li{
	list-style: none;
	display: inline-block;
}
.menu li a{
	display: block;
	width: 200px;
	height: 80px;
	background: black;
	color: snow;
	text-align: center;
	text-decoration: none;
	border-radius: 35%;
	box-shadow: 4px 4px 5px red;
	transition: 0.5s;
}
.menu li a:hover{
	background: red;
	color: black
}